<div class="wrap">
    <div class="container">
        <div class="square">
            <img src="../../../assets/images/musicroom1.png" class="mask">
            <div class="h1">Ite torquatos adversarium meiany?</div>
            <p>
                Appor recusabo ad et tantas signiferumque pri. Nonumes facilis fuisset has no, utamur aliquid adipiscing
                has
                at. Vel ei eirmod constituto, ius ad omnium audirets.
            </p>
            <button class="button">Read More</button>
        </div>

        <div class="square">

            <img src="../../../assets/images/musicRoom2.jpg" class="mask">
            <div class="h1">Argumentum te, has augue putant adipisc?</div>
            <p>
                AId duis interesset delicatissimi sea, vim fierent menandri praesent ad, has eu reque repudiare
                inciderint.
            </p>
            <button class="button">Read More</button>
        </div>

        <div class="square">

            <img src="../../../assets/images/musicRoom3.jpg" class="mask">
            <div class="h1">Argumentum te, has augue putant adipisc?</div>
            <p>
                AId duis interesset delicatissimi sea, vim fierent menandri praesent ad, has eu reque repudiare
                inciderint.
            </p>
            <button class="button">Read More</button>
        </div>

        <div class="square">

            <img src="../../../assets/images/musicRoom4.jpg" class="mask">
            <div class="h1">Argumentum te, has augue putant adipisc?</div>
            <p>
                AId duis interesset delicatissimi sea, vim fierent menandri praesent ad, has eu reque repudiare
                inciderint.
            </p>
            <button class="button">Read More</button>
        </div>
    </div>
</div>