
<div class="wrapper">
    <div class="container no-gutters">
        <div class="box">
            <span *ngIf="product.is_on_sale === true" class="wdp-ribbon wdp-ribbon-three">{{(100 - (product.taxPrice
                / product.price * 100)).toFixed(0)}}% Sale</span>
        </div>
        <div class="top">
            <!-- style="background: url({{product.imageUrl}}) no-repeat center center;"  -->
            <img class="product-image" src={{product.imageUrl}} alt="productImage">
        </div>
        <div DisableItem [disableProduct]="!product.is_in_inventory" *ngIf="!product.is_in_inventory">Product Is Currently Not Available</div>
        <div class="bottom">
            <div class="left">
                <div class="details">
                    <h1>{{product.name}}</h1>
                    <p>${{product.price}}</p>
                </div>
                <button class="buy" ><fa-icon [icon]="faShoppingCart"></fa-icon></button>
            </div>
            <div class="right">
                <div class="done"><i class="material-icons">done</i></div>
                <div class="details">
                    <h1>{{product.name}}</h1>
                    <p>Added to your cart</p>
                </div>
                <div class="remove"><i class="material-icons">clear</i></div>
            </div>
        </div>
    </div>
    <div class="inside">
        <div class="icon"> <fa-icon class="fa-book" [icon]="faBookJournalWhills"></fa-icon> </div>
        <div class="contents">
            <table>
                <tr>
                    <th>Brand:</th>
                    <th>Origin:</th>
                </tr>
                <tr>
                    <td>{{product.brand}}</td>
                    <td>{{product.origin}}</td>
                </tr>
                <tr>
                    <th>Key:</th>
                    <th>Category:</th>
                </tr>
                <tr>
                    <td>{{product.key}}</td>
                    <td>{{product.category}}</td>
                </tr>
                <tr>
                    <th>Available:</th>
                    <th>In Stock:</th>
                </tr>
                <tr>
                    <td>{{product.is_in_inventory ? 'Yes' : 'Not Currently Available'}}</td>
                    <td>{{product.items_left && product.is_in_inventory ? '10' : 'Not In Stock'}}</td>
                </tr>
                <tr>
                    <th class="instrument-desc-th">Instrument Description:</th>

                </tr>
                <tr>
                    <td>{{product.description}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>