#navcontainer {
    position: relative;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../../assets/images/header-art-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -390px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#navcontainer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

#navcontainer li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Logo--Wrapper {
    display: flex;
    align-items: center;
}

.Logo--Wrapper:hover {
    scale: 1.013;
    cursor: pointer;    
}

.Logo {
    font-size: 75px;
    font-family: "Concert One", sans-serif;
}

.header-anchor {
    all: unset;
}

.faHippo {
    font-size: 58px;
}

#navcontainer .list-anchors {
    margin: 10px 60px;
    padding: 16px 66px;
    font-size: 25px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    background-image: url(../../assets/images/header-art-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 2px solid #363636;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

#navcontainer .list-anchors:link,
#navlist .list-anchors:visited {
    color: #e69500;
    text-decoration: none;
}

#navcontainer .list-anchors:hover {
    background-image: url(../../assets/images/header-art-image.png) repeat-x #147bba;
    color: #fab885;
}






.reg {
    color: rgba(47, 54, 43);
    background-color: rgb(223, 139, 61);
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px;
    width: 70px;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(5, 5, 5, 0.2);
    transition: 0.4s;

}

.log {
    color: rgb(245, 166, 93);
    background-color: rgb(31, 46, 22);
    border: 1px solid rgb(53, 36, 23);
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px;
    width: 70px;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(30, 29, 32, 0.2);
    transition: 0.4s;
}

.log:hover {
    color: white;
    scale: 1.070;
    box-shadow: 0 0 20px rgba(248, 100, 41, 0.6);
    background-color: rgba(47, 54, 43);
}

.reg:hover {
    color: rgb(223, 139, 61);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
    background-color: rgb(47, 54, 43);
}