<div class="events-container">
    <div class="blog-wrapper">


        <div class="blog-card">
            <div class="card-img"><img src="../../../assets/images/drawing1.jpg">
                <h1>New York</h1>
            </div>
            <div class="card-details"><span> <fa-icon [icon]="faCalendar"></fa-icon> AUG 4</span><span><fa-icon
                        [icon]="faHeart"></fa-icon> 102</span></div>
            <div class="card-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Si verbum sequimur, primum longius
                    verbum praepositum quam bonum.</p>
            </div>
            <div class="read-more">Read More</div>
        </div>
        <div class="blog-card">
            <div class="card-img"><img src="../../../assets/images/drawing2.jpg">
                <h1>San Francisco</h1>
            </div>
            <div class="card-details"><span><fa-icon [icon]="faCalendar"></fa-icon> AUG 1</span><span><fa-icon
                        [icon]="faHeart"></fa-icon> 661</span></div>
            <div class="card-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Si verbum sequimur, primum longius
                    verbum praepositum quam bonum.</p>
            </div>
            <div class="read-more">Read More</div>
        </div>


        <div class="blog-card">
            <div class="card-img"><img src="../../../assets/images/drawing3.jpg">
                <h1>Chicago</h1>
            </div>
            <div class="card-details"><span><fa-icon [icon]="faCalendar"></fa-icon> AUG 1</span><span><fa-icon
                        [icon]="faHeart"></fa-icon> 263</span></div>
            <div class="card-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Si verbum sequimur, primum longius
                    verbum praepositum quam bonum.</p>
            </div>
            <div class="read-more">Read More</div>
        </div>
        <div class="blog-card">
            <div class="card-img"><img src="../../../assets/images/SaxoPhone.jpg">
                <h1>Boston</h1>
            </div>
            <div class="card-details"><span><fa-icon [icon]="faCalendar"></fa-icon> AUG 1</span><span><fa-icon
                        [icon]="faHeart"></fa-icon> 526</span></div>
            <div class="card-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Si verbum sequimur, primum longius
                    verbum praepositum quam bonum.</p>
            </div>
            <div class="read-more">Read More</div>
        </div>

    </div>
</div>