<div class="Cart-Container">
    <div class="Header">
        <div class="arrowhead-flex">
            <div class="backTo" routerLink="/Products">
                <fa-icon [icon]="faArrowLeft"></fa-icon>
                <fa-icon [icon]="faCubesStacked"></fa-icon>
            </div>

            <h3 class="Heading">Shopping Cart</h3>
        </div>
        <h5 class="Action">Remove all</h5>
    </div>

    <div class="row">
        @for (item of cartService.getItems(); track item.id) {
        <div class="summary_card">
            <div class="card_item">
                <div class="product_img">
                    <img src={{item.imageUrl}} alt="" />
                </div>
                <div class="product_info">
                    <h1>{{item.name}}</h1>
                    <p>{{item.origin}}</p>
                    <div (click)="cartService.deleteItem(item)" class="close-btn">
                        <fa-icon [icon]="faTrashCan"></fa-icon>
                    </div>
                    <div class="product_rate_info">
                        <h1>$ {{item.price}}</h1>
                        <span (click)="cartService.addLessToCart(item.id)" class="pqt-minus">-</span>
                        <span class="pqt">{{item.quantity}}</span>
                        <span (click)="cartService.addMoreToCart(item.id, item)" class="pqt-plus">+</span>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>


    <hr />
    <div class="order_price">
        <p>Order summary</p>
        <h4>${{cartService.getOrderPrice()}}</h4>
    </div>
    <div class="order_service">
        <p>Additional Service For Every Product</p>
        <h4>$2</h4>
    </div>
    <div class="order_total">
        <p>Total Amount</p>
        <h4>$ {{cartService.getTotalPrice(2)}} </h4>
    </div>
</div>