<div class="login-form-container">
    <div class="login-form">
        <div class="cancel-button-div" >
              <button class="close" routerLink="/Home"><fa-icon class="close-icon" [icon]="faWindowClose"></fa-icon></button>
        </div>
        <h2>Please Login Here</h2>
        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" required #username>
      
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" required #password>
              
            <button class="submit" type="submit" (click)="onLoginClicked()">Login</button>
            <label>
              <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
          </div>
    </div>
</div>