
<ul class="topheader--ul">

    <div class="first-wrap">
        <li><i class="fa-solid fa-phone"></i></li>
        <li>(001) 884592123</li>
        <li>88493035</li>
    </div>


    <div class="sec-wrap">
        <div class="user-container">
            <div>
                <button class="log" *ngIf="!isLogged" routerLink="Login" > <fa-icon [icon]="faKey"></fa-icon> Login</button>
                <button class="log" *ngIf="isLogged" routerLink="Login" (click)="onLogout()" [queryParams]="{logout: true}"> <fa-icon [icon]="faDoorOpen"></fa-icon> Logout</button>
                <button class="reg" *ngIf="!isLogged" routerLink="/Register"  > <fa-icon [icon]="faUnlockKeyhole"></fa-icon> Sign up</button>
            </div>
        </div>
        <li>
            <a>
                <fa-icon [icon]="faFacebook"> </fa-icon>
            </a>
        </li>
        <li>
            <a>
                <fa-icon [icon]="faInstagram"> </fa-icon>
            </a>
        </li>
        <li>
            <a>
                <fa-icon [icon]="faXTwitter"> </fa-icon>
            </a>
        </li>
        
    </div>
</ul>