<ul class="topheader--ul">
    <div class="first-wrap">
        <li><i class="fa-solid fa-phone"></i></li>
        <li>(001) 884592123</li>
        <li>88493035</li>
    </div>
    <div class="sec-wrap">
        <li>
            <a>
                <fa-icon [icon]="faFacebook"> </fa-icon>
            </a>
        </li>
        <li>
            <a>
                <fa-icon [icon]="faInstagram"> </fa-icon>
            </a>
        </li>
        <li>
            <a>
                <fa-icon [icon]="faXTwitter"> </fa-icon>
            </a>
        </li>
    </div>
</ul>