<app-snackbar [errorMessage]="errorMessage" *ngIf="errorMessage"></app-snackbar>

<div class="reg-container">


    
    <loader *ngIf="showLoading"></loader>

    <div class="wrapper" *ngIf="!showLoading">
        <h2>Registration</h2>
        <form #authForm="ngForm" (ngSubmit)="onFormSubmitted(authForm)">
            <div class="input-box">
                <input type="text" placeholder="Enter your email" required name="email" ngModel>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Create password" required name="password" minlength="2" ngModel>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Confirm password" required name="rePassword" ngModel>
            </div>
            <div class="policy">
                <input type="checkbox">
                <h3>I accept all terms & condition</h3>
            </div>
            <div class="input-box button">
                <input type="Submit" value="Register Now">
            </div>
            <div class="text">
                <h3>Already have an account? <a routerLink="/Login">Login now</a></h3>
            </div>
        </form>
    </div>

</div>