.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 15px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 20%;
    position: absolute;
    top: 21%;
    left: 80%;
    transform: translate(-50%, -50%);
  }


/*!!! Add To Cart CSS !!!*/

.absolute {
  position: absolute;
  bottom: 123%;
  left: 105%;
}

.absolute:hover {
  .counter-circle {
      background-color: rgb(253, 177, 76);
      color: black;
  }

  scale: 1.055;
  cursor: pointer;
}

.icon {
  top: 10px;
  left: 40%;
  position: absolute;
  font-size: 30px;
}

.counter-circle {
  position: absolute;
  left: 28px;
  width: 24px;
  background-color: black;
  padding: 2px 4px;
  border-radius: 20px;
  color: rgb(253, 177, 76);
  text-align: center;
  font-weight: 800;
}