<div class="create-overlay">
    <div class="popup">
        <h2>{{editOn ? 'Update Task' : 'Create A New Task'}}</h2>
        <a class="close" routerLink="/About" (click)="OnCloseForm()">&times;</a>
        <div class="content">
            <section class="container">
                <form action="#" class="form" #taskForm="ngForm" (ngSubmit)="onFormSubmit(taskForm)">
                    <div class="input-box">
                        <label>Title</label>
                        <input type="text" required name="title" ngModel />
                    </div>
                    <div class="input-box">
                        <label>Description*</label>
                        <textarea rows="8" required name="description" ngModel ></textarea>
                    </div>
                    <div class="column">
                        <div class="input-box">
                            <label>Assigned To</label>
                            <input type="text" name="assignedTo" ngModel required />
                        </div>
                        <div class="input-box">
                            <label>Created At</label>
                            <input type="date" name="createdAt" ngModel required />
                        </div>
                    </div>
                    <div class="input-box address">
                        <div class="column">
                            <div class="select-box">
                                <select name="priority" ngModel>
                                    <option hidden>Priority</option>
                                    <option value="low">Low</option>
                                    <option value="medium">Medium</option>
                                    <option value="high">High</option>
                                    <option value="critical">Critical</option>
                                </select>
                            </div>
                            <div class="select-box">
                                <select name="status" ngModel>
                                    <option hidden>Status</option>
                                    <option value="open">Open</option>
                                    <option value="started">Started</option>
                                    <option value="in-progress">In Progress</option>
                                    <option value="complete">Complete</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <button type="submit">{{editOn ? 'Update Task' : 'Create Task'}}</button>
                </form>
            </section>
        </div>
    </div>
</div>