<filter-products [all]="totalProducts" [onSale]="totalProductsOnSale" [inStock]="totalProductsInStock"
    (selectedFilterRadioButtonChanged)="onFilterChanged($event)"></filter-products>


<add-to-cart></add-to-cart>

<div class="all-product-list--container">

    <ng-container *ngFor="let prod of products">
        <div *ngIf="selectedFilterRadioButtonOnParent === 'all' 
|| (prod.is_in_inventory && prod.is_in_inventory.toString() === selectedFilterRadioButtonOnParent)
|| (prod.is_in_inventory && prod.is_on_sale.toString() !== selectedFilterRadioButtonOnParent)
">

            <single-product [product]="prod"
                *ngIf="searchTextOnSibling === '' || prod.name.toLowerCase().includes(searchTextOnSibling)"
                (click)="selectedProduct = prod"
                >

            </single-product>
        </div>
    </ng-container>
</div>



