<div class="container">
    <div class="row">
        <article class="col-sm-12">
            <fa-icon class="fa" [icon]="faParachuteBox"></fa-icon>
            <h3 class="tm-color-primary tm-article-title-1">Free Order Shipment</h3>
            <p>Wherever, Whatever - Shipment Is Free!</p>
            <a href="#" class="text-continue">Learn More...</a>
        </article>
        <article class="col-sm-12">
            <fa-icon class="fa" [icon]="faArrowsLeftRightToLine"></fa-icon>
            <h3 class="tm-color-primary tm-article-title-1">Free 30 Day Return Policy</h3>
            <p>You Can Send It Back!</p>
            <a href="#" class="text-continue">Learn More...</a>
        </article>
        <article class="col-sm-12">
            <fa-icon class="fa" [icon]="faSackDollar"></fa-icon>
            <h3 class="tm-color-primary tm-article-title-1">All Cards Available</h3>
            <p>We Work With Banks All Over The World</p>
            <a href="#" class="text-continue">Learn More...</a>
        </article>
    </div>
</div>